@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Khula', sans-serif;
}

.nav-right-cont {
  padding: 10px;
}

.sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.sns a {
  margin-left: 2rem;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  border-radius: 100%;
  border: solid 2px #000;
}

.sns a:first-of-type {
  font-size: 0.8rem;
}

.sns button a:hover {
  background: #303030;
  color: #fff;
  border: solid 2px #303030;
}
